  <div class="col-10 offset-1"> 
    <br /><br />
    <div class="place-headers">
      <h1 class="text-center">Edit Your Place</h1>
    </div>
  </div>

  <div class="simple-form-text col-12">
    <%= simple_form_for @place do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description %>
      <br />
      <%= f.submit 'Update', class: 'btn btn-outline-primary' %>
    <% end %>
   </div>
