  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <%= image_tag 'slider3.jpg', class: 'img-fluid' %>
        <div class= "carousel-caption d-none d-md-block">
          <h3>Best Happy Hours Around Town</h3>
        </div>
      </div>
      <div class="carousel-item">
         <%= image_tag 'slider2.jpg', class: 'img-fluid' %>
        <div class= "carousel-caption d-none d-md-block">
          <h3>Best Happy Hours In The City</h3>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<br /><br class="clear" />

<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <center><h2><%= link_to place.name, place_path(place) %></h2>
    <i><%= place.address %></i><br /><br/>
    <%= place.description %></center><br />
    <% if place.user.present? %>
      <small class="float-right"><%= place.user.email %></small>
    <% end %>
    <hr />
    <br/>

    <div class="head"> Latest Rating and Comment: </div>
    <% if place.comments.present? %>
      <!-- <div class="col-12 col-12">
 -->  <blockquote>
        <% if place.comments.last.humanized_rating.present? %>
          <b><%= place.comments.last.humanized_rating %></b> -
        <% end %>
        <%= place.comments.last.message %> 
        <small class="float-right"><%= place.comments.last.user.email %></small>
      </blockquote>
     <!--  </div> -->
    <% end %>
    <br /><br />
    <div class="head"> Images:</div>
    
    <% if place.photos.present? %>
      <!-- <div class="col-12 ">
        <blockquote>
          <%= image_tag place.photos.last.picture.to_s, class: 'img-fluid' %>
          <b><%= place.photos.last.caption %></b>
        </blockquote>  -->
      <div class="scroll-container">
          <div class="flex-container"> 
            <div class="scrolling">
              <% place.photos.each do |photo| %>
                <div class="iconcell">
                  <%= image_tag photo.picture.to_s, class: 'img-fluid' %>
                  <div class="caption">
                   <div></div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<br class="clear" />

<%= will_paginate @places, class: 'page' %>

<br class="clear" />
<br />